.log_btn_hover:hover, .log_btn_hover:active, .log_btn_hover:focus-visible{
    outline:1px #0B6AEA solid !important;
}
.log_btn_hover:focus::placeholder{
    
    color: transparent;
}

.log_btn_hover{
    border:1px #E2EBF3 solid !important;
}
.google_icon{
    background-image: url('../img/ri_google-fill.png');
}

.login-pf-page-header{
   
    text-indent: -9999px;
    display: none;
    height: 100%;
    background-repeat: no-repeat;
    
}
body{
    margin:0;
}
.login-pf{
    background-color: #F6F9FC;
    text-align: center;

}
.login_logo{
    background-image: url('../img/CC_Logo.png');
    background-repeat: no-repeat;
    width: 152px;
    height: 37px;
    display: inline-flex;
    justify-content: center;
}
.checkbox_onclick:checked{
    appearance: auto !important;
}

.password_show_icon{
    background-image: url('../img/quill_eye.png');
    margin-right: 28px;
    background-color: white;
    position: absolute;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.password_hide_icon{
    background-image: url('../img/quill_eye.png');
    margin-right: 28px;
    background-color: black;
    position: absolute;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

